<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.webstore.dao.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.webstore.dao.model.Cart">
        <id column="id" property="id" />
        <result column="userId" property="userId" />
        <result column="product_id" property="product_id" />
        <result column="quantity" property="quantity" />
        <result column="price" property="price" />
        <result column="created_at" property="created_at" />
        <result column="updated_at" property="updated_at" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,userId,productId,quantity,price,createdAt,updatedAt
    </sql>


</mapper>